{{#gameCount}}
<h3>Доступные игры</h3>
<ul class="dashboard-list">
    {{#games}}
    <li>
        {{playersCountStr}}
        {{#players.player1.avatar}}
        <img class="img-circle" src="{{players.player1.avatar}}" alt="">
        {{/players.player1.avatar}}
        {{#players.player2.avatar}}
        <img class="img-circle" src="{{players.player2.avatar}}" alt="">
        {{/players.player2.avatar}}
        {{#players.player3.avatar}}
        <img class="img-circle" src="{{players.player3.avatar}}" alt="">
        {{/players.player3.avatar}}
        {{#players.player4.avatar}}
        <img class="img-circle" src="{{players.player4.avatar}}" alt="">
        {{/players.player4.avatar}}

        <a class="joinGame" href="#" data-id="{{_id}}">
            <div class="btn btn-small btn-primary"><i class="icon-plus icon-white"></i></div>
        </a>
    </li>
    {{/games}}
</ul>
{{/gameCount}}
{{^gameCount}}
<div>
    На данный момент нет игр, к которым можно присоединится.
    <br/>
    Начните новую.
</div>
<br/>
{{/gameCount}}
<div class="btn btn-warning newGame">Создать</div>
