<div class="desk-info">
    {{#meta.active}}
    вы <span class="badge badge-warning">{{gameScore.team1}}</span>
    - <span class="badge badge-warning">{{gameScore.team2}}</span> соперник
    {{/meta.active}}
    {{^meta.active}}
    <div class="btn btn-small leaveGame pull-right">Покинуть игру</div>
    {{/meta.active}}
    <em class="muted"><i class="icon-bullhorn"></i> {{status}}</em>

</div>

<div class="desk-board-wrapper clearfix">
    <div class="desk-board-container">

        <div class="desk-player-1-name">
            <div class="helper">
                <img class="img-circle" src="{{players.player1.avatar}}"
                     alt="">{{players.player1.name}}
            </div>
        </div>

        <div class="desk-player-2-name">
            <div class="helper">
                <img class="img-circle" src="{{players.player2.avatar}}"
                     alt=""> {{players.player2.name}}
            </div>
        </div>

        <div class="desk-player-3-name">
            <div class="helper">
                <img class="img-circle" src="{{players.player3.avatar}}"
                     alt=""> {{players.player3.name}}
            </div>
        </div>

        {{#turn.player1}}
        <div class="desk-card-1">
            <div class="helper">
                <div class="desk-card-element suite-{{suite}} desk-card-{{id}}"></div>
            </div>
        </div>
        {{/turn.player1}}

        {{#turn.player2}}
        <div class="desk-card-2">
            <div class="helper">
                <div class="desk-card-element suite-{{suite}} desk-card-{{id}}"></div>
            </div>
        </div>
        {{/turn.player2}}

        {{#turn.player3}}
        <div class="desk-card-3">
            <div class="helper">
                <div class="desk-card-element suite-{{suite}} desk-card-{{id}}"></div>
            </div>
        </div>
        {{/turn.player3}}

        {{#turn.player4}}
        <div class="desk-card-4">
            <div class="helper">
                <div class="desk-card-element suite-{{suite}} desk-card-{{id}}"></div>
            </div>
        </div>
        {{/turn.player4}}

    </div>
</div>


<div class="desk-cards-wrapper">
    {{#meta.active}}
    <ul class="deck-cards-list">
        {{#cards}}
        <li class="desk-card-element-wrapper {{#allowed}}card-allowed{{/allowed}}">
            <div class="desk-card-element suite-{{suite}} desk-card-{{id}}" data-id="{{id}}"></div>
        </li>
        {{/cards}}
    </ul>
    {{/meta.active}}
</div>

