{{#turn.player1}}
<div class="desk-card-1">
    <div class="helper">
        <div class="desk-card-element suite-{{suite}} desk-card-{{id}}"></div>
    </div>
</div>
{{/turn.player1}}

{{#turn.player2}}
<div class="desk-card-2">
    <div class="helper">
        <div class="desk-card-element suite-{{suite}} desk-card-{{id}}"></div>
    </div>
</div>
{{/turn.player2}}

{{#turn.player3}}
<div class="desk-card-3">
    <div class="helper">
        <div class="desk-card-element suite-{{suite}} desk-card-{{id}}"></div>
    </div>
</div>
{{/turn.player3}}

{{#turn.player4}}
<div class="desk-card-4">
    <div class="helper">
        <div class="desk-card-element suite-{{suite}} desk-card-{{id}}"></div>
    </div>
</div>
{{/turn.player4}}