<div>
    <dl>
        <dt>Общий счет: </dt>
        <dd>{{gameScore.team1}} : {{gameScore.team2}}</dd>
    </dl>
    <dl>
        <dt>Текущий кон: </dt>
        <dd>{{roundScore.team1}} : {{roundScore.team2}}</dd>
    </dl>
    <h2>Счет: {{meta.score.team1}} : {{meta.score.team2}}</h2>
</div>

<div>
    <h2>Статус: {{status}}</h2>
</div>

<div class="desk-player-wrapper">

    <div class="desk-player-1">
        <div class="desk-player-name">{{players.player1}}</div>
        {{#turn.player4}}
        <div class="desk-card-element suite-{{suite}} desk-card-{{id}}">{{name}}</div>
        {{/turn.player4}}
    </div>

    <div class="desk-player-2">
        <div class="desk-player-name">{{players.player2}}</div>
        {{#turn.player4}}
        <div class="desk-card-element suite-{{suite}} desk-card-{{id}}">{{name}}</div>
        {{/turn.player4}}
    </div>

    <div class="desk-player-3">
        <div class="desk-player-name">{{players.player3}}</div>
        {{#turn.player4}}
        <div class="desk-card-element suite-{{suite}} desk-card-{{id}}">{{name}}</div>
        {{/turn.player4}}
    </div>

    <div class="desk-player-4">
        {{#turn.player4}}
        <div class="desk-card-element suite-{{suite}} desk-card-{{id}}">{{name}}</div>
        {{/turn.player4}}
    </div>
</div>


<div class="desk-cards-wrapper">
    {{#meta.active}}
    <h2>Ваши карты</h2>
    <ul class="deck-cards-list">
        {{#cards}}
        <li class="desk-card-element suite-{{suite}} {{#allowed}}card-allowed{{/allowed}}" data-id="{{id}}">{{name}}</li>
        {{/cards}}
    </ul>
    {{/meta.active}}
</div>

