<div class="navbar top-nav">
    <div class="navbar-inner">
        <a class="brand logo-min" href="#">Козёл</a>
        {{#items}}
        <ul class="nav">
            <!--<li class="link-game"><a href="#"><i class="icon-fire"></i> Игра</a></li>-->
            <!--<li><a href="#"><i class="icon-list"></i> Играть</a></li>-->
            <!--<li><a href="#"><i class="icon-star-empty"></i> Статистика</a></li>-->
        </ul>
        {{/items}}
        <ul class="nav pull-right">
            <li class="pull-right {{#rules.active}}active{{/rules.active}}"><a href="#rules"><i
                    class="icon-info-sign"></i> Правила</a></li>
        </ul>
    </div>
</div>