body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 600px;
    height: 500px;
    background: #ffffff;
    border: 1px dotted #cccccc;
}

a {
    color: #00B7FF;
}

h2 {
    color: #777777;
}

#container {
    padding: 10px;
}

.desk-meta-wrapper {
    height: 40px;
    background: #F3F5F7;
}

.desk-meta-container {
    padding: 10px;
}

.desk-board-wrapper {
    position: relative;
    height: 240px;
    clear: both;
}

.desk-board-container {
    position: relative;
    height: 100%;
    padding: 10px;
}

.desk-player-1-name {
    position: absolute;
    top: 50%;
    left: 0;
    width: 150px;
}

.desk-player-1-name .helper {
    position: relative;
    top: -50%;
}

.desk-player-2-name {
    position: absolute;
    left: 50%;
    text-align: center;
}

.desk-player-2-name .helper {
    position: relative;
    left: -50%;
}

.desk-player-3-name {
    position: absolute;
    top: 50%;
    right: 0;
    width: 150px;
    text-align: right;
}

.desk-player-3-name .helper {
    position: relative;
    top: -50%;
}

/*onb board cards*/
.desk-card-1 {
    position: absolute;
    top: 50%;
    left: 30%
}

.desk-card-1 .helper {
    position: relative;
    top: -50%;
}

.desk-card-1 .desk-card-element {
    margin-top: -50%;
}

.desk-card-2 {
    position: absolute;
    top: 30px;
    left: 50%
}

.desk-card-2 .helper {
    position: relative;
    left: -50%
}

.desk-card-3 {
    position: absolute;
    top: 50%;
    right: 30%
}

.desk-card-3 .helper {
    position: relative;
    top: -50%;
}

.desk-card-3 .desk-card-element {
    margin-top: -50%;
}

.desk-card-4 {
    position: absolute;
    bottom: 0;
    left: 50%
}

.desk-card-4 .helper {
    position: relative;
    left: -50%
}

.desk-cards-wrapper {
    /*background: #008800;*/
    /*height: 1%;*/
    /*min-height: 1%;*/
    /*height: auto;*/
    /*overflow: auto;*/
}

.deck-cards-list {
    float: none;
    margin: 0;
    padding: 0;
}

.deck-cards-list li {
    float: left;
    list-style: none;
    margin: 10px;
    padding: 0;
    cursor: pointer;
}

.desk-card-element {
    border: 1px dotted #cccccc;
    height: 60px;
    width: 40px;
    border-radius: 4px;
    background: #ffffff;
}

.desk-card-element.suite-s,
.desk-card-element.suite-c {
    color: #000000;
}

.desk-card-element.suite-h,
.desk-card-element.suite-d {
    color: #ff0000;
}