body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #ffffff;
}

a {
    color: #00B7FF;
}

h2 {
    color: #777777;
}

.viewport{
    width: 600px;
    height: 500px;
    border: 1px dotted #cccccc;
}

#container {
    padding: 10px;
}

.desk-meta-wrapper {
    height: 40px;
    background: #F3F5F7;
}

.desk-meta-container {
    padding: 10px;
}

.desk-board-wrapper {
    position: relative;
    height: 240px;
    clear: both;
}

.desk-board-container {
    position: relative;
    height: 100%;
    padding: 10px;
}

.desk-player-1-name {
    position: absolute;
    top: 50%;
    left: 0;
    width: 150px;
}

.desk-player-1-name .helper {
    position: relative;
    top: -50%;
}

.desk-player-2-name {
    position: absolute;
    left: 50%;
    text-align: center;
}

.desk-player-2-name .helper {
    position: relative;
    left: -50%;
}

.desk-player-3-name {
    position: absolute;
    top: 50%;
    right: 0;
    width: 150px;
    text-align: right;
}

.desk-player-3-name .helper {
    position: relative;
    top: -50%;
}

/*onb board cards*/
.desk-card-1 {
    position: absolute;
    top: 50%;
    left: 30%
}

.desk-card-1 .helper {
    position: relative;
    top: -50%;
}

.desk-card-1 .desk-card-element {
    margin-top: -50%;
}

.desk-card-2 {
    position: absolute;
    top: 30px;
    left: 50%
}

.desk-card-2 .helper {
    position: relative;
    left: -50%
}

.desk-card-3 {
    position: absolute;
    top: 50%;
    right: 30%
}

.desk-card-3 .helper {
    position: relative;
    top: -50%;
}

.desk-card-3 .desk-card-element {
    margin-top: -50%;
}

.desk-card-4 {
    position: absolute;
    bottom: 0;
    left: 50%
}

.desk-card-4 .helper {
    position: relative;
    left: -50%
}

.desk-cards-wrapper {
    /*background: #008800;*/
    /*height: 1%;*/
    /*min-height: 1%;*/
    /*height: auto;*/
    /*overflow: auto;*/
}

.deck-cards-list {
    clear: both;
    margin: 0;
    padding: 0;
}

.deck-cards-list li {
    float: left;
    list-style: none;
    margin: 1px;
    height: 100px;
    padding: 10px 0 10px 0;
}

.desk-card-element {
    border: 1px dotted #cccccc;
    height: 92px;
    width: 67px;
    border-radius: 4px;
    background: #ffffff;
}

.desk-card-list .desk-card-element{
    cursor: pointer;
}

.desk-card-element.selected{
    margin-top:-10px;
}

.desk-card-element-wrapper.card-allowed{
    border-bottom: solid 10px #00d6b2;
}

.desk-card-element.suite-s,
.desk-card-element.suite-c {
    color: #000000;
}

.desk-card-element.suite-h,
.desk-card-element.suite-d {
    color: #ff0000;
}



.desk-card-s-Q { background: url("../images/cards-classic.png")  144px 291px; }
.desk-card-s-J { background: url("../images/cards-classic.png")  217px 291px; }
.desk-card-s-K { background: url("../images/cards-classic.png")  71px 291px; }
.desk-card-s-A { background: url("../images/cards-classic.png")  2847px 291px; }
.desk-card-s-10 { background: url("../images/cards-classic.png")  290px 291px; }
.desk-card-s-9 { background: url("../images/cards-classic.png")  363px 291px; }
.desk-card-s-8 { background: url("../images/cards-classic.png")  436px 291px; }
.desk-card-s-7 { background: url("../images/cards-classic.png")  509px 291px; }

.desk-card-d-Q { background: url("../images/cards-classic.png")  144px 95px; }
.desk-card-d-J { background: url("../images/cards-classic.png")  217px 95px; }
.desk-card-d-K { background: url("../images/cards-classic.png")  71px 95px; }
.desk-card-d-A { background: url("../images/cards-classic.png")  2847px 95px; }
.desk-card-d-10 { background: url("../images/cards-classic.png")  290px 95px; }
.desk-card-d-9 { background: url("../images/cards-classic.png")  363px 95px; }
.desk-card-d-8 { background: url("../images/cards-classic.png")  436px 95px; }
.desk-card-d-7 { background: url("../images/cards-classic.png")  509px 95px; }

.desk-card-h-Q { background: url("../images/cards-classic.png")  144px 193px; }
.desk-card-h-J { background: url("../images/cards-classic.png")  217px 193px; }
.desk-card-h-K { background: url("../images/cards-classic.png")  71px 193px; }
.desk-card-h-A { background: url("../images/cards-classic.png")  2847px 193px; }
.desk-card-h-10 { background: url("../images/cards-classic.png")  290px 193px; }
.desk-card-h-9 { background: url("../images/cards-classic.png")  363px 193px; }
.desk-card-h-8 { background: url("../images/cards-classic.png")  436px 193px; }
.desk-card-h-7 { background: url("../images/cards-classic.png")  509px 193px; }

.desk-card-c-Q { background: url("../images/cards-classic.png")  144px 389px; }
.desk-card-c-J { background: url("../images/cards-classic.png")  217px 389px; }
.desk-card-c-K { background: url("../images/cards-classic.png")  71px 389px; }
.desk-card-c-A { background: url("../images/cards-classic.png")  2847px 389px; }
.desk-card-c-10 { background: url("../images/cards-classic.png")  290px 389px; }
.desk-card-c-9 { background: url("../images/cards-classic.png")  363px 389px; }
.desk-card-c-8 { background: url("../images/cards-classic.png")  436px 389px; }
.desk-card-c-7 { background: url("../images/cards-classic.png")  509px 389px; }
