<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!--<script src="/socket.io/socket.io.js"></script>-->
    <script src="/javascripts/lib/require.js" data-main="/javascripts/config"></script>
    <script>

    </script>

  </head>
  <body>
  <div id="container"></div>
    <h1>{{ title }}</h1>
    <button id="newGame">Создать игру</button>

    <script>

        $("#newGame").click(function(){
          console.log("game:new");
            socket.emit("game:new");

          });
    </script>

  <div id="msgbox" ></div>

  </body>
</html>